.root_window {
	background: #ffffff;
}

.desktop_icon {
	border-width: 0;
	box-shadow: none;
	background: rgba(0,0,0, 0);
}

.status_bar {
	background: #000000;
	color: #ffffff;
	font-size: 20px;
}


.panel_window {
	background: rgba(100,0,0, 0);
}

slider {
	min-width: 64px;
	min-height: 64px;
}

scale {
	background: #000;
}

.panel_stack {
	background: #eee;
}

.panel_switcher {
	background: #555;
}

button:active {
	border-radius: 100px;
}
